<div class="formulario-container">
  <div class="container">
    <div class="voltar-container">
      <a routerLink="/login" class="botao-voltar">
        <img class="seta" src="assets/arrow-left.png" alt="Seta para voltar">
        Voltar
      </a>
    </div>
    <header>
      <section class="cabecalho-conta">
        <h1>Criar Conta</h1>
      </section>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="salvarLogin()">
      
      <div class="input-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          id="nome"
          placeholder="Digite o nome completo"
          formControlName="nome"
        />
        @if (loginForm.get('nome')?.errors && loginForm.get('nome')?.touched) {
          <div class="mensagem-erro">Campo obrigatório</div>
        }
      </div>

      <div class="input-group">
        <label for="telefone">Telefone</label>
        <input
          type="text"
          id="telefone"
          placeholder="Digite o telefone celular"
          formControlName="telefone"
        />
        @if (loginForm.get('telefone')?.errors && loginForm.get('telefone')?.touched) {
          <div class="mensagem-erro">Campo obrigatório</div>
        }
      </div>

      <div class="input-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          placeholder="Digite o E-mail"
          formControlName="email"
        />
        @if (loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched) {
          <div class="mensagem-erro">Campo obrigatório</div>
        }
        @if (loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched) {
          <div class="mensagem-erro">Formato de e-mail inválido</div>
        }
      </div>

      <div class="input-group">
        <label for="aniversario">Aniversário</label>
        <input
          type="date"
          id="aniversario"
          placeholder="Data de nascimento"
          formControlName="aniversario"
        />
      </div>

      <div class="input-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          placeholder="Digite a senha"
          formControlName="senha"
        />
        @if (loginForm.get('senha')?.errors && loginForm.get('senha')?.touched) {
          <div class="mensagem-erro">Campo obrigatório</div>
        }
      </div>

      <div class="input-group">
        <label for="confirmaSenha">Confirmar Senha</label>
        <input
          type="password"
          id="confirmaSenha"
          placeholder="Confirme a senha"
          formControlName="confirmaSenha"
        />
        @if (loginForm.get('confirmaSenha')?.errors && loginForm.get('confirmaSenha')?.touched) {
          <div class="mensagem-erro">Campo obrigatório</div>
        }
      </div>

      <section class="botoes">
        <button (click)="cancelar()" class="botao-cancelar" type="button">Cancelar</button>
        <button
          [disabled]="loginForm.invalid"
          [ngClass]="loginForm.valid ? 'botao-salvar' : 'botao-desabilitado'"
          type="submit">
          Salvar
        </button>
      </section>
    </form>
  </div>
</div>
