.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo img {
    width: 150px;
  }
  
  .nav ul {
    display: flex;
    gap: 20px;
  }
  
  .nav ul li {
    list-style: none;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
  }
  
  .cart-btn {
    background-color: #117a10;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .cart-btn i {
    font-size: 18px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .actions {
      flex-direction: column;
      gap: 10px;
    }
  }

  .login-btn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-btn i {
    font-size: 20px;
  }
  
  .login-btn:hover {
    color: #117a10; /* mesma cor usada no botão do carrinho */
  }
  
  