.login-header {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  height: auto;
  display: flex;
  align-items: flex-start;
  z-index: 10; 
  position: absolute;
  top: 0;
  left: 0;
}

.logo-link {
  text-decoration: inline-block;
}

.logo-img-header {
  height: 40px;
  width: auto;
  filter: drop-shadow(0 0 6px #b2ddcc); 
}

.logo-section img {
  max-width: 200px;
  height: auto;
}

.logo-img {
  max-height: 140px;
  margin-left: 10px;
  height: auto;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 4px #bce2d3);
}

.login-container {
    display: flex;
    height: 100vh;
    color: white;
    background-image: url('../../../assets/Principal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .logo-section {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -2px 0 10px rgba(0, 255, 153, 0.2);
  }
  
  .logo-img {
    max-width: 70%;
    height: auto;
    filter: drop-shadow(0 0 15px #00ff99); /* brilho verde no logo */
  }
  
  /* Formulário de login e cadastro */
  .form-section {
    flex: 1;
    padding: 40px;
    background-color: rgba(10, 15, 28, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 2px 0 10px rgba(0, 255, 153, 0.2);
  }
  
  /* Campos de entrada */
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #00ff99;
    border-radius: 6px;
    background-color: #0a0f1f;
    color: #ffffff;
  }
  
  input:focus {
    outline: none;
    border-color: #5eead4;
    box-shadow: 0 0 10px #5eead4;
  }
  
  /* Botões */
  button {
    background-color: #00ff99;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #00cc7a;
    cursor: pointer;
  }
  
  /* Link de cadastro/esqueci senha */
  a {
    color: #5eead4;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  